<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>#Europe</title>
      <link rel="stylesheet" href="/public/style.css">      
    </head>
  <body>

    <div id="popitbox">
      <div class="popit" v-for="popit in popits" :style="popit.style">
        <img src="/public/star.svg" alt="EU star" v-if="popit.style.left">
        <a target="_blank" :href="popit.url" class="name">
          <p>{{ popit.name }}</p>
          <p>@{{ popit.nameat }}</p>
        </a>
        <img src="/public/star.svg" alt="EU star" v-if="popit.style.right">        
      </div>
    </div>
  
    <script src="/socket.io/socket.io.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="/public/script.js"></script>
  </body>
</html
